@media(max-width:900px){
.product.cover span.sicon-cart {
    color: #442e17 !important;
    display: block !important;
}
a.product-add.add_to_cart_btn:before{
     display: none !important; 
}

}
    .section-header .section--title span{
        color: #442e17 !important;

    }
    .section-header .section-actions .circle-action {
    border-color: #442e17;
    background-color: #442e17;
}

.cart-nav-submit, .cart-nav-more, .cart-nav-solid {
    background: #442e17;
    border-color: #1d0700;
}
